## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Riyadh,SA,87.94,clear sky,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
1,8,Jaque,PA,79.25,moderate rain,7.5175,-78.1703,Imbu Bua Lodge
2,10,Galle,LK,79.68,broken clouds,6.0367,80.2170,Amangalla
3,19,Khandyga,RU,81.97,clear sky,62.6667,135.6000,Apel'sin
4,23,Nabire,ID,86.41,scattered clouds,-3.3667,135.4833,Hotel Nusantara Nabire

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(60.0,-110.0), zoom_level=3.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Flin Flon")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Flin Flon")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Yellowknife")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Dawson Creek")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Macklin")]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start_trip = start[0,5],start[0,6]
end = vacation_end.to_numpy()
end_trip = end[0,5],end[0,6]
stop1 = vacation_stop1.to_numpy()
stop1_trip = stop1[0,5],stop1[0,6]
stop2 = vacation_stop2.to_numpy()
stop2_trip = stop2[0,5],stop2[0,6]
stop3 = vacation_stop3.to_numpy()
stop3_trip = stop3[0,5],stop3[0,6]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(50,-100), zoom_level=4.0)
tripmap = gmaps.directions_layer(start_trip, end_trip, 
                                 waypoints=[stop1_trip,stop2_trip, stop3_trip], 
                                 travel_mode='DRIVING')
fig.add_layer(tripmap)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
start_df = pd.DataFrame(start)
stop1_df = pd.DataFrame(stop1)
stop2_df = pd.DataFrame(stop2)
stop3_df = pd.DataFrame(stop3)
itinerary_df = pd.concat([start_df, stop1_df, stop2_df, stop3_df],ignore_index=True)
itinerary_df

,0,1,2,3,4,5,6,7
0,447,Flin Flon,CA,78.21,clear sky,54.7682,-101.865,Victoria Inn Flin Flon
1,66,Yellowknife,CA,86.52,few clouds,62.456,-114.3525,The Explorer Hotel
2,393,Dawson Creek,CA,81.57,overcast clouds,55.7666,-120.2362,Peace Villa Motel
3,343,Macklin,CA,87.08,broken clouds,52.3334,-109.9348,Macklin Motor Inn

In [23]:
index = itinerary_df.index
index

RangeIndex(start=0, stop=4, step=1)

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{7}</dd>
<dt>City</dt><dd>{1}</dd>
<dt>Country</dt><dd>{2}</dd>
<dt>Current Weather</dt><dd>{4}</dd><dd>" and "</dd><dd>{5}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

IndexError: tuple index out of range

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure